@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

body{
  font-family: 'Poppins', sans-serif;
}

.friends-section::-webkit-scrollbar{
  width: 5px;
}

.friends-section::-webkit-scrollbar-thumb{
  background: rgb(195, 194, 194);
  border-radius: 10px;
}

.chat-screen::-webkit-scrollbar{
  width: 5px;
}

.chat-screen::-webkit-scrollbar-thumb{
  background: rgb(195, 194, 194);
  border-radius: 10px;
}

.image-gallery-container::-webkit-scrollbar{
  width: 5px;
}

.image-gallery-container::-webkit-scrollbar-thumb{
  background: #9b9bd3;
  border-radius: 10px;
}

.groups-section::-webkit-scrollbar{
  width: 5px;
}

.groups-section::-webkit-scrollbar-thumb{
  background: rgb(195, 194, 194);
  border-radius: 10px;
}

.add-member-container::-webkit-scrollbar{
  width: 5px;
}

.add-member-container::-webkit-scrollbar-thumb{
  background: rgb(195, 194, 194);
  border-radius: 10px;
}

.members-list-container::-webkit-scrollbar{
  width: 5px;
}

.members-list-container::-webkit-scrollbar-thumb{
  background: #9b9bd3;
  border-radius: 10px;
}